{% extends "layout.html" %}
{% block content %}
<div class="form">
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Behavior Summary</h3>
    </div>

 <div class="row" style="padding:80px 0 0 0">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Menu
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/{{ jsonid }}"><i class="glyphicon glyphicon-pencil"></i>API Calls</a></li>
                    <li><a href="/{{ jsonid }}/behavior_summary"><i class="glyphicon glyphicon-download"></i>Behavior Summary</a></li>
                </ul> 
                <!-- </div> -->
            </div>
        </div>

      <div class="col-md-9">
      <ul class="nav nav-pills">
        {% for summary_key in message.keys()|sort %}
        <li class="nav-item"><a href="#{{ summary_key }}" data-toggle="pill">{{ summary_key  }}</a></li>
        {% endfor %}
      </ul>
      <p></p>

      <div class="tab-content">
        {% for key, values in message.items()|sort %}
        <div class="tab-pane" id="{{ key }}">
          <table class="table-hover">
            <tbody>
              {% for value in values|sort %}
              <tr><td>{{ value }}</td></td>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
