{% extends "layout.html" %}
{% block content %}
<div class="form">
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Behavior Summary</h3>
    </div>

      <ul class="nav nav-pills">
        {% for summary_key in message.keys()|sort %}
        <li class="nav-item"><a href="#{{ summary_key }}" data-toggle="pill">{{ summary_key  }}</a></li>
        {% endfor %}
      </ul>
      <p></p>

      <div class="tab-content">
        {% for key, values in message.items()|sort %}
        <div class="tab-pane" id="{{ key }}">
          <table class="table-hover">
            <tbody>
              {% for value in values|sort %}
              <tr><td>{{ value }}</td></td>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
