{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
      <div class="header">
        <h3 class="text-muted">{{ title }}</h3>
      </div>

 <div class="row" style="padding:80px 0 0 0">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Menu
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/{{ jsonid }}"><i class="glyphicon glyphicon-pencil"></i>API Calls</a></li>
                    <li><a href="/{{ jsonid }}/behavior_summary"><i class="glyphicon glyphicon-download"></i>Behavior Summary</a></li>
                </ul> 
                <!-- </div> -->
            </div>
        </div>


      <div class="col-md-9">
      {% if not pid==0 %}
      <form action="/{{ jsonid }}/{{ pid }}/search" method="get">
      {% else %}
      <form action="/{{ jsonid }}/search" method="get">
      {% endif %}
        <div class="form-inline">
          <label for="name">検索</label>
          <input type="text" class="form-control" id="name" name="query" placeholder="">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
        <br>

        <button type="submit" name="category" value="" class="btn btn-default">All</button>
        <button type="submit" name="category" value="network" class="btn btn-info">Network</button>
        <button type="submit" name="category" value="file" class="btn btn-primary">Filesystem</button></a>
        <button type="submit" name="category" value="registry" class="btn btn-primary">Registry</button></a>
        <button type="submit" name="category" value="process" class="btn btn-success">Process</button></a>
        <button type="submit" name="category" value="services" class="btn btn-success">Services</button></a>
        <button type="submit" name="category" value="synchronization" class="btn btn-danger">Synchronization</button></a>
      </form>
      <br>

      <!-- プロセスIDとプロセス名を列挙するタブ -->
      <ul class="nav nav-tabs">
        <li class="nav-item"><button class="btn btn-default"><a href="/{{ jsonid }}"><font color='black'>All Process</font></a></button></li>
        {% for pinfo in pinfos %}
          <li class="nav-item">
          {% if pinfo['pid'] == pid %}
          <button class="btn btn-primary"><a href="/{{ jsonid }}/{{ pinfo['pid'] }}"><font color='white'>{{ pinfo['pid'] }} - {{ pinfo['process_name'] }}</font></a></button>
          {% else %}
          <button class="btn btn-default"><a href="/{{ jsonid }}/{{ pinfo['pid'] }}"><font color='black'>{{ pinfo['pid'] }} - {{ pinfo['process_name'] }}</font></a></button>
          {% endif %}
          </li>
        {% endfor %}
      </ul>

      <table class="table-hover">
        <thead class="thead-default">
        <tr><th>time</th><th>category</th><th>api</th><th>arguments</th><th>status</th><th>value</th></tr> </thead>
        <tbody>
        {% for behavior in message %}
        <tr>
        {% if behavior['arguments']|string()|length < 100 %}
          <td>{{ behavior['time'] }}</td><td>{{ behavior['category'] }}</td> <td><a href= {{ behavior['apiurl'] }} target="_blank">{{ behavior['apiname'] }}</a></td> <td>{{ behavior['arguments'] }}</td> <td>{{ behavior['status'] }}</td><td>{{ behavior['return_value'] }}</td>
        {% else %}
          <td>{{ behavior['time'] }}</td><td>{{ behavior['category'] }}</td> <td><a href= {{ behavior['apiurl'] }} target="_blank" >{{ behavior['apiname'] }}</a></td> 
          <td>
            <div onclick="obj=document.getElementById( {{ loop.index0 }} ).style; obj.display=(obj.display=='none')?'block':'none';">
            <a style="cursor:pointer;color:#555555;border-bottom: solid 1px #555555;">details...</a></div>
            <div id= {{ loop.index0 }} style="display:none;clear:both;">
              {{ behavior['arguments'] }}
            <!-- </div> -->
            </div>
          </td> 
          <td>{{ behavior['status'] }}</td><td>{{ behavior['value'] }}</td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
  </div>
</div>
</div>
{% endblock %}
